.fontSize--base, .grid__col {
  font-size: 1.4rem; }

.fontSize--deca {
  font-size: 4.8rem; }

.fontSize--hecto {
  font-size: 5.2rem; }

.fontSize--kilo {
  font-size: 6.4rem; }

.fontSize--mega {
  font-size: 7.2rem; }

.heading {
  color: red; }

html {
  font-size: 62.5%; }

.heading, .nav, .nav .link {
  border: 2px solid grey; }

.grid__row {
  font-size: 0; }

.grid__col {
  display: inline-block; }

.grid__col--1 {
  width: 12.5%; }

.grid__col--2 {
  width: 25%; }

.grid__col--3 {
  width: 37.5%; }

.grid__col--4 {
  width: 50%; }

.grid__col--5 {
  width: 62.5%; }

.grid__col--6 {
  width: 75%; }

.grid__col--7 {
  width: 87.5%; }

.grid__col--8 {
  width: 100%; }

.nav {
  background-color: rgba(0, 0, 0, 0.4); }
  .nav .link {
    color: white;
    font-weight: bold;
    font-size: 2.4rem; }
